LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
OLLAMA_HOST=
OLLAMA_PORT=
OLLAMA_MODEL=
OLLAMA_API_ENDPOINT=
TAVILY_API_KEY=


OPENROUTER_API_KEY=
OPENROUTER_GENERATIVE_MODEL=
OPENROUTER_GENERATIVE_BASE_URL=